@inherits LayoutComponentBase
@using Sotsera.Blazor.Toaster
@using Codeer.LowCode.Blazor.Components.AppParts.Loading

<div class="empty-center">
    <ToastContainer />
    <Loading />
    @Body
</div>

@code {

}
