.gantt-wrap {
    display: grid;
}

.gantt-wrap ::deep .side-header{
    left: unset !important;
    right: 0;
}

.gantt-wrap ::deep .gantt .bar-wrapper .handle {
    visibility: unset;
}

.gantt-wrap ::deep .gantt .bar-wrapper:hover .handle {
    opacity: 1;
}
