@using Microsoft.JSInterop
@implements IAsyncDisposable
@inject IJSRuntime JsRuntime

<div class="gantt-wrap @(DarkMode ? "dark" : "")">
    <svg id="@_elementId"/>
</div>

@code {
    private string _elementId = ("gantt_" + Guid.NewGuid()).Replace("-", "");
    private List<GanttTaskData> _currentDataSource = new();
    private IJSObjectReference? _module;
    private DotNetObjectReference<FrappeGantt>? _dotNetObjectRef;

    [Parameter]
    public bool DarkMode { get; set; }

    [Parameter]
    public List<GanttTaskData> DataSource { get; set; } = new();

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        _dotNetObjectRef = DotNetObjectReference.Create(this);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender) {
            _currentDataSource = DataSource;
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>(
                "window.FrappeGanttModule.create", _dotNetObjectRef, "#" + _elementId, _currentDataSource);
        }
    }

    protected override async Task OnParametersSetAsync() {
        await base.OnParametersSetAsync();
        var module = _module;
        var currentDataSource = _currentDataSource;
        if (module is not null && currentDataSource != DataSource) {
            _currentDataSource = DataSource;
            await module.InvokeVoidAsync("setDataSource", DataSource);
        }
    }

    public async ValueTask DisposeAsync() {
        var module = _module;
        if (module is not null) {
            await module.DisposeAsync();
        }

        _dotNetObjectRef?.Dispose();
    }

    [JSInvokable]
    public void OnClick(GanttTaskData task) {
        Console.WriteLine($"Task {task} clicked");
    }

    [JSInvokable]
    public void OnDateChange(GanttTaskData task, DateTime start, DateTime end) {
        Console.WriteLine($"Task {task} date changed to {start} - {end}");
    }

    [JSInvokable]
    public void OnProgressChange(GanttTaskData task, double progress) {
        Console.WriteLine($"Task {task} progress changed to {progress}");
    }

    [JSInvokable]
    public void OnViewChange(string viewMode) {
        Console.WriteLine($"View changed to {viewMode}");
    }

}