.table {
  margin-bottom: 0;
  height: max-content;
}

tr {
  height: 100%;
}

table ::deep td .input-group .btn {
  border: 0;
  border-left: 1px solid #ccc;
}

table ::deep td > span {
  padding: 0.5em;
  display: inline-block;
}

table ::deep td > label {
  padding: 0.5em;
  display: inline-block;
  margin: 0;
}

table ::deep tr.can-select {
  cursor: pointer;
}

table ::deep tr.can-select.selected {
  --bs-table-bg: #d9ecff;
}
