@using Codeer.LowCode.Blazor.Components
@using Microsoft.AspNetCore.Components.Forms
@using Codeer.LowCode.Blazor.Repository.Design
@using Codeer.LowCode.Blazor.Components.Dialog
@using Microsoft.AspNetCore.Components.Web
@inherits FieldComponentBase<MarkerField>

<div style="display:inline-flex; flex-direction:column; align-items:center; gap:6px;">
  <div style="
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: transparent;
      border: 1.5px solid @Color;
      cursor: pointer;
  " @onclick="OnClick"></div>
</div>

@code {
  string Color => Field.Services.AppInfoService.IsDesignMode ? "#555" : "transparent";
  private async Task OnClick(MouseEventArgs e) => await Field.OnClickAsync((int)e.ClientX, (int)e.ClientY);
}