@using System.Collections
@using Codeer.LowCode.Blazor.Repository.Design
@using Codeer.LowCode.Blazor.RequestInterfaces
@inject INavigationService NavigationService

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/">@BrandString(Design?.Home.Text)</NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @foreach(var link in Design?.Links ?? Enumerable.Empty<PageLink>())
                {
                    <li class="nav-item">
                        <NavLink class="nav-link active" aria-current="page" href="@(NavigationService.GetUrl(link))">@(link.Title)</NavLink>
                    </li>
                }
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

@code {
    [Parameter]
    public HeaderDesign? Design { get; set; }

    private string BrandString(string? text) => string.IsNullOrEmpty(text) ? "Home" : text;
}
